@model LOLHUB.Models.Team
@using Microsoft.AspNetCore.Identity
@using LOLHUB.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var teamName = "";
    var teamId = "";
    if (Model == null)
    {
        teamName = "Not In Team";
    }
    else
    {
        teamName = Model.Name;
        teamId = Model.Id.ToString();
    }
}
@if (SignInManager.IsSignedIn(User))
{
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Manage" asp-route-teamId="@teamId">Your Team:[@teamName]</a>
            </li>
}
else
{
}
