@model IEnumerable<LOLHUB.Models.TournamentViewModels.Drabinka>

@{
    ViewData["Title"] = "Default";
}

Brak danych

<table class="table">
    <thead>
        <tr>
                <th>
                    Game
                </th>
                <th>
                    Pojedynek między
                </th>
                <th>
                   Poziom 
                </th>
        </tr>
    </thead>
</table>
