@model IEnumerable<LOLHUB.Models.TournamentViewModels.Drabinka>

@{
    ViewData["Title"] = "Default";
}

Cwierćfinały

<table class="table">
    <thead>
        <tr>
            <th>
                Game
            </th>
            <th>
                Pojedynek między
            </th>
            <th>
                Poziom
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(d => d.Tournament_Level == 3))
        {
            <tr>
                <td>
                    #@item.Id
                </td>
                <td>
                    Team #@item.Team1_Id  VS Team #@item.Team2_Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tournament_Level)/3 (Finały)
                </td>

            </tr>
        }
    </tbody>
</table>
