
@{
    ViewData["Title"] = "Manage";
}

<h2>Manage your Team</h2>

<h3>TODO:</h3>
<h4>Zmiana nazwy<br />
    Zmiana opisu<br />
    Zmiana typu ( dodam na czasie czy to druzyna 1v1,3v3,5v5, otwarta czy zamknięta, player+)<br />
    Wysylanie zaproszeń ( jezeli druzyna zamknieta)<br />
    Usuwanie Członkow (tylko teamLeader)<br />
    Statystyki Meczy<br />
    Rozegrane Mecze druzynowo<br />
    *Podsumowanie wyników meczy z wyszczegolnieniem graczy ?<br />
    Usunięcie Drużyny<br />
    Zmiana TeamLidera<br />
    *Wprowadzenie poziomow druzyny(punkty + ładujący się pasek ile brakuje do lvla [progi punktowe?])<br />
    **Wydzielenie grup w drużynie 1v1 (tylko lider ?), 3v3 (glowna lista reszta to awaryjni członkowie?), 5v5<br />
    ***Osiągnięcia<br />
</h4>
