@model Tournament
@{
    ViewBag.Title = "Edycja turnieju";
    Layout = "_Layout";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="TournamentId" />
    <div class="form-group">
        <label asp-for="Name">Nazwa</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Start turnieju</label>
        <div><span asp-validation-for="StartDate" class="text-danger"></span></div>
        <input asp-for="StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndDate">Koniec turnieju</label>
        <div><span asp-validation-for="EndDate" class="text-danger"></span></div>
        <input asp-for="EndDate" class="form-control" />
    </div>
    <div class="form-group">Status zakończenia</label>
        <div><span asp-validation-for="IsExpired" class="text-danger"></span></div>
        <input asp-for="IsExpired" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>
</form>
