@{
    ViewData["Title"] = "Index";
}

<h2>INBOX</h2>

<a asp-action="SendMessage" asp-controller="Inbox" class="btn btn-sm btn-success">
    Wyslij wiadomosc
</a>
@await Component.InvokeAsync("WiadOtrzymane")

