@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{   
    <h3> Wyszukaj przywoływacza aby móc go sparować ze swoim kontem:</h3>

    <div class="btn-toolbar mb-4" style="margin-top:25px" role="toolbar" aria-label="Toolbar with button groups">
        <form action="/v1/riotapi/getsummoner/{nickname}" method="post">
            <div class="btn-group">
                <button type="submit" class="btn btn-warning" name="submit">Wyszukaj</button>
            </div>
            <div class="input-group">
                <input type="text" name="nickname" class="form-control" placeholder="Wprowadź nazwę swojego przywoływacza" aria-describedby="btnGroupAddon" size="30" maxlength="30" />
            </div>
        </form>
    </div>
}
else
{
    <h3> Zaloguj się aby połączyć swoje konto League of Legends z aplikacją LOLHUB:</h3>

    <div class="btn-toolbar mb-4" style="margin-top:25px" role="toolbar" aria-label="Toolbar with button groups">
        <form action="" method="post">
            <div class="btn-group">
                <button type="submit" class="btn btn-warning" name="submit">Wyszukaj</button>
            </div>
            <div class="input-group">
                <input readonly="readonly" type="text" name="nickname" class="form-control" placeholder="Wprowadź nazwę swojego przywoływacza" aria-describedby="btnGroupAddon" size="30" maxlength="30" />
            </div>
        </form>
    </div>}


